{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <form action="/index" method="post">
        <div class="text-left">
            <div>
                <h5>Welcome, {{fname}}! You are now logged into the Physician Portal.</h5>
            </div>
            <div>
              <br><h6>The Egyptian Joint Replacement Registry serves as a platform for data-driven orthopedic care.</h6></br>
              <p>The registry facilitates the collection of high quality data regarding all forms of joint replacements taking place in Egypt,
              including both new implants and revisions. The multi-use platform allows seamless interfacing between surgeons, hospitals and companies.
              The registry also operates at the highest levels of security, with encrypted databases to ensure patient
              data remains secure. Each year, a report is made available overviewing the data collected, and providing physicians with
              the information necessary to make the best choices for their patients.
              </p>
            </div>
          </div>
    </form>
{% endblock %}